In [6]:
import pandas as pd
import matplotlib.pyplot as plt

## Import Data

In [ ]:
dfRtc = pd.read_csv('retail_transactions.csv', encoding='iso-8859-1')
dfRtc.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [10]:
dfRtc['item_total'] = dfRtc['UnitPrice'] * dfRtc['Quantity']
dfRtc.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,item_total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [11]:
grouped = dfRtc.groupby('CustomerID').agg({'InvoiceNo':'unique','item_total':'sum'}).reset_index()
dfRtc.rename(columns={'InvoiceNo':'invoice_count','item_total':'amt_total'}, inplace=True)
dfRtc.head()

,invoice_count,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amt_total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [ ]:
from sklearn.preprocessing import scale
X = scale(dfRtc[['invoice_count','amt_total']])

KeyError: ('invoice_count', 'amt_total')

In [ ]:
plt.scatter(X[:,0], X[:,1])
plt.xlabel('invoice_count')
plt.ylabel('amt_total')
plt.show()

In [ ]:
from sklearn.cluster import KMeans

#Define
mdlKmcRtc = KMeans(n_clusters=3, random_state=1)

# Fit
mdlKmcRtc.fit(X)

kmeans_lables = mdlKmcRtc.labels_
#Print results

In [ ]:
#Evauluate using siloette score
from sklearn.metrics import silhouette_score

silhouette_score(X,kmeans_lables)

In [ ]:
#Function for Kmeans Cluster
def cluster_kMeans(k,x):
    #Define
    mdlKmcRtc = KMeans(n_clusters=k, random_state=1)

    # Fit
    mdlKmcRtc.fit(X)

    kmeans_lables = mdlKmcRtc.labels_
    kmeans_sil_score = silhouette_score(x,kmeans_lables)
    return kmeans_lables, kmeans_sil_score

In [ ]:
for k in [2,3,4,5,6]:
    kmeans_lable_k , kmeans_sil_score_k = cluster_kMeans(k,X)
    print(f'k: {kmeans_lable_k} \t\t sil_score: {kmeans_sil_score_k}')

NameError: name 'cluster_kMeans' is not defined

In [ ]:
from scipy.cluster import hierarchy